body{
  margin: 0;
  background-image: linear-gradient(to bottom,Black, white);
  background-repeat:no-repeat;
}



body{
  margin: 0px;
}

.mainsection{
  margin-bottom: 0vw;
  grid-gap: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 2vw;
}

.marginMainSection{
  margin: 2vw;
}

.Macair{
  grid-column: span 3;
  grid-row: span 2;
  align-self: center;
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 2vw;
}

.dropdownBtn{
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: 0.6s;
  width: 30vw;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: Black;
  font-size: 20px;
}

.dropdownGrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

span{
  font-size: 20px;
  font-family: verdana;
  font-weight: bold;

}

.Machair-IMG{
  background-size: cover;
  background-position: center;
  padding: 15vw;
}

.Machair-IMG-en{
  background-image: url("Macbook_air.png");
}

.Machair-IMG-to{
  background-image: url("Macbook_pro.jpg");
}


.Macpro{
  margin-top: 2vw;
  grid-column: span 3;
  align-self: center;
}
#ImgMacpro{
 width: 100%;
}
.Infoommac{
  grid-column: span 6;
  align-self: center;
  margin-left: 10vw;
  margin-right: 10vw;

}
#ImgInfoommac{
  width: 100%;
  height: 25vw;
}
.Overskrift{
  grid-column:3/5;
  text-align: center;
}

h1{
  text-decoration: none;
  color: black;
  font-size: 40px;
  text-align: center;
  font-family: verdana;
  font-weight: bold;
}
.Kontaktapple{
  grid-column: span 3;
  align-self: center;
  margin-top: 2vw;

}
#Imgapplelogo{
  width: 90%;
  height:25vw;
}
.Kontrakt_apple{
  grid-column: span 3;
  align-self: center;
  margin-top: 2vw;

}
#ImgKontraktapple{
  width: 90%;
  height: 25vw;
}
