body{
  margin: 0;
  margin-top: 0vw;
  background-color: rgba(241, 221, 207, 0.89);

}

header{

  background-color: rgb(45, 184, 88);
  display: grid;
  grid-template-columns: 25% repeat(5,15%);
  line-height: 6vw;
  text-align: center;
  border-bottom: .2vw solid rgba(4, 150, 71, 0.84);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  height: 6vw;

}

.LogoLink{

  grid-column: 1;

}

#Logo img{

display: block;
width: 100px;

}

.knappLink:hover{

  transition: 0.5s;
  background-color: rgb(45, 120, 15);
  color: white;
}

.col-span-logo{

  grid-column: span 1;

}

.usynlig{

  opacity: 0;

}


.knappLink{

  text-decoration: none;
  color: black;
  font-weight: bold;

}


.dropdown {

  position: relative;
  display: inline-block;
  transition: 0.7s;

}


.dropdown:hover .dropdown-content {

  display: block;

}

.dropdown:hover{

  background-color: rgba(4, 150, 71, 0.84);
  transition: 0.7s;

}

.dropdown-content {

  display: none;
  position: absolute;
  background-color:rgba(4, 150, 71, 0.84);
  width: 100%;

}

main{
  margin-top: 6vw;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  margin-left: 5vw;
  margin-right: 5vw;

}


.Laliga-tabell{
  grid-column: 1/4;
  width: 80%;
  height: 275%;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
}

.Premier-league-bilde{
  margin-top: 0%;
  grid-column: 6/9;
  width: 100%;

}


table{
  border-collapse: collapse;

}

.LaligaT{
  grid-column: 1/4;
  margin-top: 1vw;
}

.PremierLeagueT{
  grid-column: 6/9;
  margin-top: 1vw;
}

thead>tr{
  background-color: aliceblue;
}

tbody>tr{
  background-color: papayawhip;

}

th{

 text-align: left;
 padding: 7px 14px;
 border: 2px solid olive;
 border-bottom: 4px solid darkolivegreen;

}

td{
   padding: 7px 14px;
   border: 2px solid olive;

}


.Sistoppdatert{
  font-family: 'Open Sans Condensed', sans-serif;
  grid-column: span 1;
  margin-top: 5vw;
  font-size: 10px;

}

.Kontaktinfo{

  text-align: center;
  margin-top: 8vw;
  border-top: solid;
  border-width: 0.2vw;
  border-color: rgba(4, 150, 71, 0.84);
  color: black;
  font-family: 'Playfair Display', serif;

}
