body{
  margin: 0;
  margin-top: 0vw;
  background-color: rgba(241, 221, 207, 0.89);

}

header{

  background-color: rgb(45, 184, 88);
  display: grid;
  grid-template-columns: 25% repeat(5,15%);
  line-height: 6vw;
  text-align: center;
  border-bottom: .2vw solid rgba(4, 150, 71, 0.84);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  height: 6vw;

}

.LogoLink{

  grid-column: 1;

}

#Logo img{

display: block;
width: 100px;

}

.knappLink:hover{

  transition: 0.5s;
  background-color: rgb(45, 120, 15);
  color: white;
}

.col-span-logo{

  grid-column: span 1;

}

.usynlig{

  opacity: 0;

}


.knappLink{

  text-decoration: none;
  color: black;
  font-weight: bold;

}


.dropdown {

  position: relative;
  display: inline-block;
  transition: 0.7s;

}


.dropdown:hover .dropdown-content {

  display: block;

}

.dropdown:hover{

  background-color: rgba(4, 150, 71, 0.84);
  transition: 0.7s;

}

.dropdown-content {

  display: none;
  position: absolute;
  background-color:rgba(4, 150, 71, 0.84);
  width: 100%;

}


main{

  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;

}

main img {

  width: 100%;

}

main a{

  position: relative;
  transition: 0.7s;

}

main a:hover{

  transform: scale(1.1);

}

main p{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 25px;
  text-decoration: none;
  font-family: 'Anton', sans-serif;
  
}


.Kontaktinfo{

  text-align: center;
  margin-top: 8vw;
  border-top: solid;
  border-width: 0.2vw;
  border-color: rgba(4, 150, 71, 0.84);
  color: black;
  font-family: 'Playfair Display', serif;

}
