
.grid{
  display:grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr

}
@media(max-width:1400px){

  body{
    background-color: yellow;

  }
}
@media(max-width:1000px){


body{
    background-color: green;
  }
}
@media(max-widt:800px){


  body{
    background-color: red;
  }
}
@media(max-width:600px){


  body{
    background-color: blue;
  }
}
